/*BASE*/

    /*Generals*/

    body {
        font-size: 16px;
        font-family: 'Merriweather Sans', sans-serif;
    }

    /*Typography*/

    h2 {
        font-size: 1.375em
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    a {
        font-size: 1em;
        text-decoration: none;
        color: #ffffff;
    }

/*LAYOUT*/

    nav, #content {
        display: flex;
        flex-direction: column;
    }



    /*Navigation*/

    nav {
        width: 13.750em;
        height: 100%;
        position: fixed;
        background-color: #1d2626;
        color: #ffffff;
        overflow: auto;

    }

    /*Content*/

    #content {
        margin-left: 13.750em;
    }

    section {
        margin: 1.875em;
    }

/*MODULE*/

    /*Navigation*/

    /*profile*/

    #profile {
        text-align: center;
    }

    #profile img {
        margin: 1.875em auto;
        width: 5em;
        height: 5em;
        border-radius: 100%;
        background-color: #ffffff;
    }

    #profile h3 {
        margin: 0;
        padding: 0;
    }

    #profile p {
        margin: 0;
        padding: 0;
        color: #a3a2a8;
    }

    #upload {
        width: 10em;
        height: 2.250em;
        background-color: #ea5a5a;
        color: #ffffff;
        margin: 1.5em 0;
        border: none;
        border-radius: 1em;
    }

    /*input*/

    nav input {
        background-color: #1e1d26;
        color: #444444;
        height: 3.688em;
        width: 11.25em;
        padding: 0 1.250em 0 1.250em;
        margin-bottom: 2.5em;
        z-index: 1;
        border-left: none;
        border-right: none;
        border-top: 0.063em solid #000000;
        border-bottom: 0.063em solid #000000;
    }


    /*categories/albums*/

    #albums, #categories {
        padding: 0 1.250em 0 1.250em;

    }

    #albums h3, #categories h3 {
        text-transform: uppercase;
        font-weight: 400;
    }

    nav ul {
        list-style-type: none;
    }

    nav li {
        padding: 0.625em 0 0.625em 0;
    }

    nav ul a {
        color: #a3a2a8;
    }



    /*Section*/

    section {


    }

    section h2>span {
        font-size: .7em;
        font-weight: 200;
        color: #a3a2a8;
    }


    .photos {
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*thumbnails*/

    .thumbnails {
        height: 12.500em;
        width: 16.250em;
        margin: 0 1.250em 2.7em 0;
        display: flex;
        flex-direction: column;
    }

    .thumbnails img {
        height: 11.250em;
        width: 16.250em;
    }

/*STATE*/
/*THEME*/
/*CHANGING STATE*/

    /*HOVERS*/
